<div id="footer">
    <div class="footer-main">
        <div class="footer-about">
            <div class="footer-name">
                <span>lococaeco</span>
            </div>

            <p class="footer-greeting">
                .
            </p>

            <div class="footer-contacts">
                <a class="contact" href="https://github.com/lococaeco" >
                    <span class="contact-icon"><i class="fa-brands fa-github"></i></span>
                    <span class="contact-title">GitHub</span>
                </a>
    
                <a class="contact" href="mailto:sangwoobang@unist.ac.kr">
                    <span class="contact-icon"><i class="fa-regular fa-envelope"></i></span>
                    <span class="contact-title">e-mail</span>
                </a>
            </div>
        </div>

        <div class="footer-pages">
            <a href="/about">About</a>
        </div>
    
    </div>
    
    <div class="copyright">
        <span>copyright by lococaeco</span>
    </div>
</div>