<div id="topbar">
    <!-- progress indicator -->
    <div class="progress-bar-wrap">
        <div class="progress-bar" id="indicator"></div>
    </div>

    <div class="topbar-main">

        <!-- sidebar btn -->
        <div class="sidebar-btn" onclick="openSidebar(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <!-- home btn -->
        <span class="material-symbols-outlined icon-home">
            <a href="/">home</a>
        </span>

        <div class="topbar-page-links">
            <a class="topbar-page-link" href="/category/recent_posts">Posts</a>
            <a class="topbar-page-link" href="/about">About</a>
        </div>
        

        <!-- search btn -->
        <span class="material-symbols-outlined icon-search">
            <a href="/search">search</a>
        </span>        
    </div>

</div>