#footer {
    width: 100%;
    font-family: 'GmarketSansMedium';
    height: 100%;

    & * {
        color: white;
    }
}

.footer-main {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 2.2fr 1.8fr 0.5fr;
    background-color: $black;
}

.footer-about {
    grid-column: 1 / 2;
    padding-right: 3rem;
    border-right: 1px solid $grey-400;
    margin-right: 1rem;
}

.footer-name {
    margin-bottom: 1rem;
    font-weight: 700;

    :last-child {
        margin-left: 0.5rem;
        font-size: 0.8rem;
        color: $grey-400;
    }
}

.footer-greeting {
    color: $grey-400 !important;
    font-size: small;
    margin-bottom: 1.4rem;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .contact {
        cursor: pointer;

        .contact-icon {
            padding: 0.4rem;
            display: inline-block;
            height: 2rem;
            width: 2rem;
            margin-right: 0.4rem;
            border-radius: 2rem;
            border: 0.8px solid white;
            text-align: center;
            transition: all 0.4s ease;

            i {
				font-size: 0.9rem;
			}
        }

        .contact-title {
            font-size: 0.8rem;
            color: $grey-400;
        }
    }

    .contact:hover {
        .contact-icon {
            background-color: white;

            i {
                color: $black !important;
            }
        }
    }
}


.footer-pages {
    grid-column: 3 / 4;
    margin-left: 1rem;

    a {
        display: block;
        padding: 0.5rem 0;
        border: 1px solid white;
        margin-bottom: 0.8rem;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
        transition: all 0.4s ease;
    }

    a:hover {
        background-color: white;
        color: $black !important;
    }
}

.copyright {
    line-height: 2rem;
    background-color: black;
    font-size: small;
    padding: 0 1.5rem;
    color: $grey-300;
    text-align: end;
}

@media screen and (max-width: $max-width-tablet) {
    .footer-main {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        background-color: $black;
    }

    .footer-about {
        padding: 0 0 1.5rem 0;
        border-right: none;
        border-bottom: 1px solid $grey-400;
        margin: 0 0 1.5rem 0;
    }

    .footer-contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .contact-title {
            display: none;
        }
    }
    
}