---
layout: default
---

<div class="layout-default">

    <!-- archive title -->
    <div id="archive-title" style="background: linear-gradient(0deg, rgba(0,0,0,0),rgba(0,0,0,0)), url({{ page.title_bg | relative_url}}); background-position:center center; background-size: cover"> 
        <div class="title-container">
            <div class="title-wrap">
                {{ page.title }}
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <div id="archive-content" class="content-default">
        <div class="content-wrap">
            {{ content }}
        </div>
    </div>

</div>