---
layout: default
---

<div class="layout-default">

    <!-- archive title -->
    {% capture archive_background %}{% include image_path.html path=page.title_bg %}{% endcapture %}
    {% assign archive_background = archive_background | strip %}
    <div id="archive-title" style="background: linear-gradient(0deg, rgba(0,0,0,0.58),rgba(0,0,0,0.44)){% unless archive_background == '' %}, url('{{ archive_background | relative_url | escape }}'){% endunless %}; background-position:center center; background-size: cover">
        <div class="title-container">
            <div class="title-wrap">
                <h1 class="archive-title-text" style="text-shadow: 0 2px 12px rgba(0,0,0,0.6)">{{ page.title | escape }}</h1>
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <div id="archive-content" class="content-default">
        <div class="content-wrap">
            {{ content }}
        </div>
    </div>

</div>
